.formulario {
  padding: 60px;
  max-width: 450px;
  background-color: #e7e7e7;
  margin: 30px auto;
}

form input,
form textarea {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  color: #525c66;
  font-size: 1em;
  resize: none;
}

form input[type="radio"] {
  margin: 0;
  line-height: 0;
  flex-grow: 0;
  order: 2;
  width: initial;
}

form button {
  display: block;
  background-color: #0081cf;
  padding: 10px 45px 10px 45px;
  border: 0;
  font-size: 1em;
  color: white;
}
form button:hover {
  background-color: #046193;
}

textarea {
  resize: none;
}

.radiolabel {
  display: flex;
  padding: 15px 0;
}

.radiolabel label {
  flex-grow: 2;
  order: 1;
}
