
a{
color: black;
}
content{
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10px 20% 20% 20% 20%;

}
.header{
margin-top: 1fr;
grid-column: 1 / 2;
grid-row: 2 / 3 ;
}
.header img{
width: 100%;
}

.menu-dps{
  grid-column: 1 / 2;
  grid-row: 1 /2;
  background-color: #0081CF;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}
.menu-dps ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
.menu-dps li a {
  display: block;
  padding:10px;
  border-right: 1px solid #aaa;
  text-decoration: none;
}
.menu-dps .logo{
  float: left;
  display: block;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.menu-dps .menu{
  clear: both;
  max-height: 0;
  transition:max-height 1s ease-out;
}
.menu-dps .menu-icon{
  padding: 28px 20px;
  position:relative;
  float: right;
  cursor: pointer;
  user-select: none;
}
.menu-dps .menu-icon .nav-icon{
  background-color: #aaa;
  display: block;
  height: 2px;
  width: 18px;
  position:relative;
  transition: background .1s ease-out;
}
.menu-dps .menu-icon .nav-icon:before{
  background:#333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .1s ease-out;
  top:5px ;
}
.menu-dps .menu-icon .nav-icon:after{
  background:#333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .1s ease-out;
  top:-5px ;
}
.menu-dps .menu-btn{
  display: none;
}

.menu-dps .menu-btn:checked ~ .menu{
  max-height: 200px;
}

.menu-dps .menu-btn:checked ~ .menu-icon .nav-icon{

background: transparent;

}
.menu-dps .menu-btn:checked ~ .menu-icon .nav-icon:before{

transform: rotate(-45deg);
top:0;

}
.menu-dps .menu-btn:checked ~ .menu-icon .nav-icon:after{
  transform: rotate(45deg);
  top: 0;
}
