@media (min-width:700px){
  /* MENU RESPONSIVE */
  .menu-dps ul{
  background-color: #0081CF;
  }
  .menu-dps li{
   float:left;
  }
  .menu-dps li a{
   padding: 20px 30px;
  }
  .menu-dps .menu{
   clear: none;
   float: right;
   max-height: none;
  }
  .menu-dps .menu-icon{
   display: none;
  }
  .menu-dps ul a:hover{
   background-color:rgb(6, 184, 255);
 }
 /* FIN MENU RESPONSIVE */
 .content{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 20% 10% 10% 10% ;
  gap: 5px;
}


 .header{
  grid-row:  2 / 3;
  grid-column: 1 / 2 ;
 }

.carousel-container{
  grid-row:  3 / 4;
  grid-column: 1 / 2 ;
}
.header img{
  height: 300px;
}

 }
