@media (min-width: 700px) {
  .content {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: auto;
    grid-template-areas:
      ". navbar navbar ."
      ". header header ."
      ". carousel carousel ."
      ". skillsbar skillsbar ."
      ". form form ."
      ". footer footer .";
    width: 100%;
    height: 100%;
  }
  /* MENU RESPONSIVE */
  .menu-dps {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-dps ul {
    display: flex;
    align-items: center;
    overflow: initial;
    background-color: inherit;
    width: fit-content;
  }
  .menu-dps .menu {
    clear: none;
  }
  .menu-dps .menu-icon {
    display: none;
  }
  .menu-dps ul a:hover {
    background-color: rgb(6, 184, 255);
  }
  /* FIN MENU RESPONSIVE */

  .header {
    grid-area: header;
    width: 100%;
    height: 100%;
  }

  .image-trans {
    width: 200px;
    height: 200px;
  }
  .header .image-trans img {
    max-width: 100%;
    max-height: 50%;
  }
}
